.productList__item {
display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background: #ebebeb;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 40px;
  height: 100%;
  max-height: 290px;

}
.itemwraper{
  display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    max-width: 200px;
}
.itemImage{
  max-width: 200px;
  max-height: 126px;
  border-radius: 20px;
  overflow: hidden;
}
.productList__item:hover {
/* background-color: rgba(107, 107, 107, 0.2); */
}

.productList__text {
      padding: 10px;
      text-decoration: none;
      color: #271515;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.productList__button {
  margin-left: auto;
  cursor: pointer;
    padding: 20px;
    text-decoration: none;
    color: #271515;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 68px;
    border: none;
    background: #ebebeb;
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.productList__button:hover{
  background-color: #271515;
  color:white
}

.productList__button.active{
    background-color: #271515;
      color: white
}